*{
    font-family: 'Roboto';
    color: gray;
}
body {
  min-width: 100%;
  min-height: 100%;
     margin: 0;

     background-image: url("../Images/Slika3.jpg");
     background-repeat: no-repeat;
     background-size: cover;
  background-color: #cccccc;

}
.page-content-wrapper{
  
}



p{
    font-weight: 100;
    text-align: justify;
    line-height: 22px;

}

.navbar {
    
    min-width: 100%;
    margin: 0 auto;
    display: flex;
    
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 2;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
    background-color:#000000;

    min-height:10%;
   
}
#index-nav {
    position: absolute;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.0);
}

#list-navbar {
    
   padding-top:20px;
    text-align: center;
}

.navbar ul {
  display: flex;
flex-direction: row;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
    
}


.navbar li a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
    
.navbar li a:hover {
     background-color: #B5B0B0;
}

.active {
  background-color: #B5B0B0;
}

.mobile-nav {
    position: relative;
}

.navbar-menu.active {
    display: block;
}

.index .navbar-menu {
    top: 99px;
    z-index: 20;
}

.navbar-menu {
      background-color: #fafafa;
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      transition: 0.5s;
    }
    .navbar-menu.active {
        transform: translateX(0);
        transition: 0.5s;
    }
    .navbar-menu .menu-listing { 
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        text-align: center;
     }
    .menu-listing li {
        display: flex;
    }
    .menu-listing li a {
        background-color: #fff;
        color: #262626;
        width: 100%;
        display: block;
        font-size: 1rem;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        letter-spacing: 1px;
        text-decoration: none;
        transition: 0.5s;
    }
    .menu-listing li a:hover { background-color: #B5B0B0;color: white;transition: 0.5s; }

    #menuOpener {
        display: none;
    }

    .index #menuOpener i {
        color: white;
    }
@media (max-width: 1024px) {
      #menuOpener {
          display: block;
      }

      #list-navbar li {
          display: none;
      }
  }

  @media (min-width: 1025px){
      .mobile-nav{
          display: none;
      }
  }



.footer {
background-color:#000000;
position: fixed;
  bottom: 0;
  margin-bottom: 0px;
  width: 100%;
  height:23%;
}

.footer p {
    text-align: center;
    font-size: 8 px;
    color: white;
   
}

.footer .telo > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 0px;
}

.footer i{
    font-size: 40px;
    padding-right: 15px;
    color: white;
}

.footer i:hover{
    color: #B5B0B0;
}

#Galerija{
    box-sizing:border-box;
    height: 100vh;
    position: relative;
    margin: auto;
    z-index: 1;
}

.slajd{
    display: none;
    height: 100vh; 
}

.slajd img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.slajd:first-child {
    display: block;
}


.tacke {
    position: relative;
    top: -25px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  } 
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .kontakt{
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    align-items: center;
    border: 1px;
}

.polja{
    width: 120%;

}

.dugmici{
    display: flex;
    flex-direction: row;

}

.submit{
  padding-right: 50px;
  padding-left: 20px;
  padding-top: 10px;
}

.reset{
  padding-top: 10px;
  padding-right: 0px;

}

.label{
  padding-bottom: 5px;
  padding-top: 5px;

}



.mapa {
        height: 400px;  
        width: 400px;
      
        
       }
